---
import Layout from '../../layouts/BlogPost.astro';
import { useTranslations } from '../../i18n/utils';

const t = useTranslations('en');
---

<Layout
  title={t('about.title')}
  description={t('site.description')}
  pubDate={new Date('February 07 2026')}
>
  <h2>{t('about.what.title')}</h2>
  <p>{t('about.what.p1')}</p>
  <p>{t('about.what.p2')}</p>
  
  <h2>{t('about.why.title')}</h2>
  <p>{t('about.why.p1')}</p>

  <h2>{t('about.me.title')}</h2>
  <p>{t('about.me.p1')}</p>
  <p>
    <a href="https://github.com/ttpss930141011">GitHub</a>
  </p>
</Layout>
